In [21]:
from datetime import datetime

import pandas as pd

In [22]:
star_date = datetime(2023,1,1)
end_date = datetime(2028,1,1)

data_range = pd.date_range(star_date, end_date)

date_df = pd.DataFrame(data_range, columns=['date'])

In [23]:
date_df

           date
0    2023-01-01
1    2023-01-02
2    2023-01-03
3    2023-01-04
4    2023-01-05
...         ...
1822 2027-12-28
1823 2027-12-29
1824 2027-12-30
1825 2027-12-31
1826 2028-01-01

[1827 rows x 1 columns]

In [24]:
date_df['date']

0      2023-01-01
1      2023-01-02
2      2023-01-03
3      2023-01-04
4      2023-01-05
          ...
1822   2027-12-28
1823   2027-12-29
1824   2027-12-30
1825   2027-12-31
1826   2028-01-01
Name: date, Length: 1827, dtype: datetime64[ns]

In [25]:
date_df['date'].dt.year

0       2023
1       2023
2       2023
3       2023
4       2023
        ...
1822    2027
1823    2027
1824    2027
1825    2027
1826    2028
Name: date, Length: 1827, dtype: int32

In [26]:
date_df['date'].dt.month

0        1
1        1
2        1
3        1
4        1
        ..
1822    12
1823    12
1824    12
1825    12
1826     1
Name: date, Length: 1827, dtype: int32

In [27]:
date_df['date'].dt.day

0        1
1        2
2        3
3        4
4        5
        ..
1822    28
1823    29
1824    30
1825    31
1826     1
Name: date, Length: 1827, dtype: int32

In [28]:
date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['day'] = date_df['date'].dt.day

In [29]:
date_df

           date  year  month  day
0    2023-01-01  2023      1    1
1    2023-01-02  2023      1    2
2    2023-01-03  2023      1    3
3    2023-01-04  2023      1    4
4    2023-01-05  2023      1    5
...         ...   ...    ...  ...
1822 2027-12-28  2027     12   28
1823 2027-12-29  2027     12   29
1824 2027-12-30  2027     12   30
1825 2027-12-31  2027     12   31
1826 2028-01-01  2028      1    1

[1827 rows x 4 columns]

In [30]:
date_df['year'] = date_df['date'].dt.year
date_df['month'] = date_df['date'].dt.month
date_df['day'] = date_df['date'].dt.day
date_df['day_of_week'] = date_df['date'].dt.dayofweek + 1 
date_df['is_weekend'] = date_df['day_of_week'].isin([6,7])

In [31]:
date_df

           date  year  month  day  day_of_week  is_weekend
0    2023-01-01  2023      1    1            7        True
1    2023-01-02  2023      1    2            1       False
2    2023-01-03  2023      1    3            2       False
3    2023-01-04  2023      1    4            3       False
4    2023-01-05  2023      1    5            4       False
...         ...   ...    ...  ...          ...         ...
1822 2027-12-28  2027     12   28            2       False
1823 2027-12-29  2027     12   29            3       False
1824 2027-12-30  2027     12   30            4       False
1825 2027-12-31  2027     12   31            5       False
1826 2028-01-01  2028      1    1            6        True

[1827 rows x 6 columns]