In [ ]:
  Data Engineer

    Module II:

    Homework â€“ Week XI.

    Create a notebook with the SQL queries. One cell, one query, and please copy the question
    into the cell.

    Example:

    # Task 1: Do this.
    SELECT * FROM table
    Next cell

    # Task 2: Do this.
    SELECT * FROM table WHERE xy = "x"
    Etc.

    Tasks:

    1. Which 10 companies make the most money?
    Use two columns: Company name and the sum of the fare. Order by descending order.
    Make sure that the sum of the fares (total_fare) is not in scientific notation.
    2. Show the 10 pickup community areas with the most rides.
    Use two columns: community area name and count of rides per area, in descending order for
    the rides.
    3. Get the count of taxi rides per day of week. In other words, we'd like to see which day has
    the most rides.
    Use the names of the days instead of numbers (Monday = 1, Tuesday = 2, etc.).
    HINT: Check CASE WHEN statements for replacing names of days. For ordering the results by
    the day you can use MIN(day_of_the_week).

SELECT c.company, ROUND(SUM(tt.trip_total), 1) total_fare
FROM "AwsDataCatalog"."chicago_taxi_db"."taxi_trips" tt
INNER JOIN "AwsDataCatalog"."chicago_taxi_db"."company" c
    ON tt.company_id = c.company_id
GROUP BY c.company
ORDER BY total_fare DESC
LIMIT 10;

#	company	total_fare
1	Taxi Affiliation Services	71361.8
2	Flash Cab	56117.9
3	Sun Taxi	42050.4
4	Taxicab Insurance Agency Llc	33132.6
5	City Service	30659.1
6	5 Star Taxi	23523.7
7	Chicago Independents	20302.0
8	Medallion Leasin	11931.2
9	Globe Taxi	11546.5
10	Blue Ribbon Taxi Association	10313.5

SELECT ca.community_name pickup_community, COUNT(tt.trip_id) count_of_rides
FROM "AwsDataCatalog"."chicago_taxi_db"."taxi_trips" tt
INNER JOIN "AwsDataCatalog"."chicago_taxi_db"."community_areas" ca
    ON tt.pickup_community_area_id = ca.area_code
GROUP BY ca.community_name
ORDER BY count_of_rides DESC
LIMIT 10;

#	pickup_community	count_of_rides
1	Lincoln Square	18609
2	Rogers Park	16286
3	North Center	6912
4	Near North Side	4175
5	West Ridge	3126
6	Lake View	2743
7	O'Hare	2538
8	Lincoln Park	2101
9	Uptown	1868
10	Jefferson Park	1730

WITH rpd AS (
    SELECT 
        DATE(trip_start_timestamp) AS date1, 
        COUNT(trip_id) AS count_of_rides
    FROM 
        "AwsDataCatalog"."chicago_taxi_db"."taxi_trips"
    GROUP BY 
        DATE(trip_start_timestamp)
),
drw AS (
    SELECT 
        EXTRACT(DOW FROM date1) AS day_of_week,
        ROUND(AVG(count_of_rides), 1) AS daily_rides
    FROM 
        rpd
    GROUP BY 
        EXTRACT(DOW FROM date1)
)
SELECT 
    CASE 
        WHEN day_of_week = 1 THEN 'Sunday'
        WHEN day_of_week = 2 THEN 'Monday'
        WHEN day_of_week = 3 THEN 'Tuesday'
        WHEN day_of_week = 4 THEN 'Wednesday'
        WHEN day_of_week = 5 THEN 'Thursday'
        WHEN day_of_week = 6 THEN 'Friday'
        WHEN day_of_week = 7 THEN 'Saturday'
    END AS day_name,
    daily_rides
FROM 
    drw
ORDER BY 
    day_of_week;

#	day_name	daily_rides
1	Sunday	14637.0
2	Monday	17448.0
3	Tuesday	18510.5
4	Wednesday	19304.5
5	Thursday	17582.0
6	Friday	13172.0
7	Saturday	10631.0